In [1]:
# Fix
from run import main

In [2]:
temporal_sets = main(log=True)

# Deleted the existing log file.

# Loading the data...
    >>> SUCCESS!

# Converting the data into preconfigured dtypes...
    >>> SUCCESS!

#########################################################

Summary for the loaded dataset

The total number of rows is 124976

The total number of rows is 25

Descriptive Statistics:

       school_ncesid  school_latitude  school_longitude  \
count   1.157430e+05    124976.000000     124976.000000
mean    2.448448e+11        36.827284        -95.859299
std     1.644728e+11         4.963669         18.392876
min     1.000050e+10        18.249140       -171.690554
25%     6.344101e+10        33.872504       -117.806418
50%     2.200870e+11        36.617410        -90.101563
75%     3.704880e+11        40.676156        -80.713740
max     6.100010e+11        65.672562        -66.628036

       total_price_including_optional_support  students_reached
count                           124976.000000     124917.000000
mean                               654.011811         95.445760
std                               1098.015854        163.481912
min                                 92.000000          1.000000
25%                                345.810000         23.000000
50%                                510.500000         30.000000
75%                                752.960000        100.000000
max                             164382.840000      12143.000000


#########################################################


# Attempting to select the following features:
    ['school_latitude', 'school_longitude', 'school_state', 'school_metro', 'school_charter', 'school_magnet', 'teacher_prefix', 'primary_focus_subject', 'primary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'total_price_including_optional_support', 'students_reached', 'eligible_double_your_impact_match', 'date_posted', 'datefullyfunded']...
    >>> SUCCESS!

# Attempting to generate a label called 'fullyfunded_within_60days' based on ['date_posted', 'datefullyfunded']...
['school_latitude', 'school_longitude', 'school_state', 'school_metro', 'school_charter', 'school_magnet', 'teacher_prefix', 'primary_focus_subject', 'primary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'total_price_including_optional_support', 'students_reached', 'eligible_double_your_impact_match', 'date_posted', 'datefullyfunded', 'fullyfunded_within_60days']
    >>> SUCCESS!
# The data for 2012-07-01 is saved.

# The data for 2013-01-01 is saved.

# The data for 2013-07-01 is saved.

In [3]:
temporal_sets[0][1][0].head()

,school_latitude,school_longitude,school_state,school_metro,school_charter,school_magnet,teacher_prefix,primary_focus_subject,primary_focus_area,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded
projectid,,,,,,,,,,,,,,,,,
0000fa3aa8f6649abab23615b546016d,34.296596,-119.296596,CA,urban,f,f,Mrs.,Civics & Government,History & Civics,Books,highest poverty,Grades 3-5,282.47,28,t,2012-04-07,2012-04-18
000134f07d4b30140d63262c871748ff,34.078625,-118.257834,CA,urban,f,f,Ms.,Literacy,Literacy & Language,Technology,high poverty,Grades 3-5,1012.38,56,f,2012-01-30,2012-04-15
000be0b57987d6c29d650a88eac2961b,37.803213,-85.987333,KY,suburban,f,f,Ms.,Environmental Science,Math & Science,Supplies,high poverty,Grades 6-8,481.18,120,f,2012-01-26,2012-05-17
000e6a13fd69bf0e426403b1d5da0e99,34.182137,-118.424728,CA,urban,f,f,Ms.,Literature & Writing,Literacy & Language,Books,highest poverty,Grades 3-5,296.68,30,t,2012-01-23,2012-02-20
00105edf14ebb7f146d6ba2098639bb1,34.050485,-118.020442,CA,suburban,f,f,Mrs.,History & Geography,History & Civics,Technology,highest poverty,Grades PreK-2,2130.40,30,f,2012-04-29,2012-07-16

In [7]:
temporal_sets[0][1][2]

projectid
0000fa3aa8f6649abab23615b546016d    1
000134f07d4b30140d63262c871748ff    0
000be0b57987d6c29d650a88eac2961b    0
000e6a13fd69bf0e426403b1d5da0e99    1
00105edf14ebb7f146d6ba2098639bb1    0
00134d14226ef613134712c54211f754    0
00136585c0e4a67afaa964403cf9f45b    0
0013a402fb4cf84e3d60d7a59566dff8    1
0014d10f538cd1a7d97053f4d653f1f6    1
00161a60318f303f71bce3e292aa547d    1
001706ada83ac3f90369cdd3915d2dcf    1
00176778e93d54ed26f601f7a0af4b35    1
00199bf192b852aa21573c69ed14565e    1
001d5055cf26a15651c3def86c6d6372    1
00239094b2720ccbd7a456a3c962f03b    0
0023f4e20e9ac0d53d7f1436d5711c5b    1
0024f9ac77374c0aac865543bb78eb46    1
00250a8ddc3f0223ac383aeeaa48c2f1    0
00253a9de723379d8b86d5b08b7d46ff    0
0027e1923d1ea12fccb705e50db911dc    1
002e341587b92b8963dd7b97cfdf7129    1
002f926c33d27d1a5e917186b786335d    1
003257df1a85fa0f0fefdb0fd6e55237    1
0035903dc05abc095cb4663a5fc9ac53    1
00377c2e78f1aa128fc1a509ed7b9213    0
003a0f03bd7f9114bf5b7357fc141277    1
003d3562242b7e73640af426d28016bb    1
003ddb6727c2a6b3a7fca419842308b0    1
004192554c05a6b6089be4504d4ca36f    1
0042038709f10338dcccdfa92018df13    0
                                   ..
ffb75049aae808d2a671dc3c0fbbf41c    1
ffbf4e6c695bde44f4b47f8b400af3a4    1
ffbf5aa3360084894609fda49d4440db    1
ffc641ef3b1d671cd204353f6e85e196    0
ffc9c25491ffa8d631063aa381a084bf    1
ffcbbe69b2ccace55acf6ea9c340696f    0
ffcc17952325f217e05c1d8fc1cbfa60    1
ffcc7709a0ee13ecaf3ce079c4968205    1
ffcf8eff80ca7d98682ec8059c2d6625    1
ffd403cc1c6a40efbc1f9000fd3ca2fe    1
ffd9a5e2567d01d34a8f65bcf3eb60c4    0
ffddce07c447e0ef8a08f1cdfd0bf3fc    1
ffe0b8d9e8461ffdeb00ece519cd3098    1
ffe19024955d45a2f9d0a7ee27524b41    0
ffe25a1f8009ca1b3260b113a3184869    1
ffe37f915069e3bae7bb36f9ed4a5267    1
ffe3d85799fe9edf582d289608511b22    1
ffe555ac4234becbb73bca0d7bb15efb    0
ffe73da73761ef44f33317375c3f0bc3    0
ffe73e3028afc456ae03be5bce3ec6c0    0
ffe8a1c2fa5b0c0a78ba4acfd7ca85b6    1
ffe8c4eb1e4b38e79a695c5175b5bb3a    0
ffea3f7012ad1cb0076ee9646c4f15d0    1
ffeba8e728d4299450bd4698ad496170    0
fff427a481a6ae0da7c79ee3a568a25d    1
fff4a452b872e91d3953849c26d66762    1
fff5fd6f1a382a7a9ceff838f35212e1    1
fffb88aa251449f1ba0b31d5552426b0    1
fffcfa4388e8ac482c44734bffa891c8    1
fffe45b28ea6f2889de1e3f797fb31a3    1
Name: fullyfunded_within_60days, Length: 26386, dtype: int64